<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Panther(2018)</title>
    <link rel="stylesheet" href="/static/topic.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:wght@300;700&display=swap" rel="stylesheet">
</head>

<body>
    
    <div class="nav">
        <a class="logo" href="#home">respare.</a>
        <div class="categories nav">
            <a href="categories">Categories</a>
            <a href="about">About</a>
            <a class="login" href="accounts/login.html">Login</a>
            <input type="text" class="searchbox" placeholder="Search...">
        </div>
    </div>
    </div>

    <div class="topic-container">
        <div class="topic-title">
            <h1>{{ topic.title }}</h1>
        </div>
        <div class="topic-img">
            <img src="{{topic.wide_image}}" alt="">
        </div>
        <div id="result" class="topic-result">
            <ul>
                {% for reaction in reactions %}
                 <li>
                    <div class="row1">
                        <h2>Good</h2>
                            <input onclick="f({{reaction.id}})" type="button" name="select" value="{{ reaction.option}}">
                            
                            <div class="level">
                                <div class="progress{{reaction.id}}">
                                    <div class="progress-fill{{reaction.id}}"></div>
                                    <span class="progress-text{{reaction.id}}">0%</span>
                                </div>
                            <input onclick="f(2)" type="button" name="select" value="{{reaction.id}}">
                            </div>
                   </div>
                    
                </li>
                {%endfor%}
                
            </ul>
        </div>
            <div class="topic-des">
             <p>{{ topic.description }}</p>
            </div>
        

    </div>
       

<script type="text/javascript">
    function UpdateProgressBar(pBar,pFill,pText,value){
        //pBar.querySelector(pFill).style.width=`${value}%`;
        //pBar.querySelector(pText).textContent=`${value}%`;
        console.log(pFill);
        console.log(pText);
        
    }
    function check(){
    fetch('reactstatus/',{
        method:'POST',
        headers:{
            'X-CSRFToken': jQuery("input[name=csrfmiddlewaretoken]").val(),
            'Content-Type':'application/json'
        },
        body:JSON.stringify({
            id:0
        })
    }
    ).then(response=>{return response.json()})
    .then(data=>{
    if (data!="0"){
            let sum=0;
            data.forEach((u)=>{
                sum+=u.count;
            })
            console.log("Sum="+sum);
            let e;
            let percent=100/sum;
            data.forEach((u)=>{
                //e=document.getElementById(u.id);
                //e.innerHTML=u.count*percent+"%";
                pBar=document.querySelector(".progress"+u.id);
                UpdateProgressBar(pBar,".progress-fill"+u.id,".progress-text"+u.id,u.count*percent);
            })
        }
    
        }
    )
    }
    check();
    
    function f(c_id){
    fetch('react/',{
        method:'post',
        headers:{
            'X-CSRFToken': jQuery("input[name=csrfmiddlewaretoken]").val(),
            'Content-Type':'application/json'
        },
        body:JSON.stringify({
            id:c_id
        })
        }).then(response => {
            return response.json()
         }).then(data =>{
            if(data=="0")
                window.location.href = "/signin";
            else
                check()
          }
         )
    }
   </script>
</body>
</html>